.wrap {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.inner {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 2.6vw;
  padding-left: 2.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  transition: all 0.4s;
}

.header1 {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.link {
  display: flex;
  align-items: center;
  gap: var(--margin-short);
}

.logo {
  width: 200px;
  transition: all 0.4s;
}

.text {
  font-size: 1.8rem;
  font-weight: 600;
}

.logo {
  width: 200px;
  transition: all 0.4s;
}

.active {
  background-color: rgba(255, 255, 255, 1);
  color: var(--color-black);
  font-size: 1.4rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inner.active .logo {
  width: 160px;
}

.inner.active .text {
  color: var(--color-black);
  font-size: 1.4rem;
}

@media (max-width: 440px) {
  .logo {
    width: 180px;
  }
  .text {
    font-size: 1.4rem;
  }
}
