.color {
  color: var(--color-white);
}

.bg {
  background-color: var(--color-orange);
}

.wrap {
  padding: var(--padding-topbottom) var(--padding-side);
  background-color: var(--color-orange);
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-exlarge);
}

.img_mv {
  border-radius: 20px;
}

.box_text {
  padding-top: var(--margin-large);
}

.header2 {
  font-size: 4rem;
}

.bg_culture {
  background-image: linear-gradient(#fe7c25 80%, #ffd64f);
}

.bg_welfare {
  background-color: var(--color-yellow);
  padding-bottom: var(--padding-topbottom-large);
}

.item {
  margin-bottom: var(--padding-topbottom);
}

.item:last-of-type {
  margin-bottom: 0;
}

.header3 {
  width: 50%;
}

.number {
  margin-right: var(--margin-short);
}

.box_culture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-exlarge);
}

.img {
  max-width: 500px;
  margin-left: auto;
  border-radius: 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--margin-large);
}

.card {
  padding: var(--margin-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-medium);
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 20px;
}

.header3_welfare {
  margin-bottom: 0;
}

.icon {
  width: 20%;
}

@media (max-width: 1024px) {
  .inner {
    gap: var(--margin-large);
  }

  .header2 {
    font-size: 3.2rem;
  }

  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .inner {
    grid-template-columns: 1fr;
  }

  .box_text {
    padding-top: 0;
  }

  .img_mv {
    order: 2;
  }

  .box_text {
    order: 1;
  }

  .header3 {
    width: 100%;
  }

  .box_culture {
    grid-template-columns: 1fr;
  }

  .img {
    max-width: 100%;
  }

  .list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .header2 {
    font-size: 2.2rem;
  }
}

.wrap p {
  font-size: 2.4rem;
}

@media (max-width: 1024px) {
  .wrap p {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .wrap p {
    font-size: 1.6rem;
  }
}
