.wrap_top {
  padding: var(--padding-topbottom) var(--padding-side);
  padding-bottom: var(--padding-topbottom-large);
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.wrap_bottom {
  padding: var(--padding-topbottom-large) var(--padding-side);
  position: relative;
}

.header2 {
  margin-bottom: var(--margin-large);
}

.cc_sub p {
  font-size: 2.8rem;
  width: 55%;
}

.inner {
  width: 50%;
}

.img {
  position: absolute;
  width: 48%;
  top: -200px;
  right: 0;
  border-radius: 20px 0 0 20px;
}

.color_yellow {
  color: var(--color-yellow);
}

@media (max-width: 1024px) {
  .cc_sub p {
    font-size: 2.4rem;
  }

  .wrap_bottom {
    padding-top: var(--padding-topbottom);
    padding-bottom: var(--padding-topbottom);
  }
}

@media (max-width: 768px) {
  .cc_sub p {
    width: 100%;
  }

  .img {
    width: 50%;
    top: -150px;
  }

  .inner {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .cc_sub p {
    font-size: 1.8rem;
  }

  .img {
    width: 70%;
    top: -70px;
  }

  .wrap_bottom {
    padding-top: 200px;
  }
}
