.color {
  color: var(--color-white);
}

.bg {
  background-color: var(--color-yellow);
}

.wrap {
  padding: var(--padding-topbottom) var(--padding-side);
  background-color: var(--color-yellow);
}

.wrap_bottom {
  padding-bottom: var(--padding-topbottom-large);
}

.grid_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding-topbottom);
}

.img_message,
.img {
  border-radius: 20px;
}

.img {
  margin-bottom: var(--margin-short);
  transition: all 0.4s;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding-topbottom);
}

.name {
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 500;
}

.text:last-of-type {
  margin-bottom: var(--margin-small);
  font-size: 2rem;
  font-weight: 500;
}

.header3 {
  margin-bottom: 0;
  font-size: 2.6rem;
  font-weight: 500;
}

.link:hover .img {
  transform: scale(0.8);
}
