.color {
  color: var(--color-black);
}

.bg {
  background-color: var(--color-black);
}

.wrap {
  padding: var(--padding-topbottom) var(--padding-side);
  color: var(--color-black);
}

.description {
  margin-bottom: var(--margin-exlarge);
  width: 100%;
}

.description th {
  width: 200px;
  font-weight: 700;
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-collapse: collapse;
}

.description td {
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-collapse: collapse;
}

.btn {
  padding: 20px 70px;
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
  transition: all 0.4s;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-red);
}
