.wrap {
  color: var(--color-white);
  background-image: url("/job-description.webp");
  background-size: cover;
  background-position: top center;
}

.cover {
  padding: var(--padding-topbottom-large) var(--padding-side);
  background-color: rgba(0, 0, 0, 0.5);
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--margin-large);
}

.link {
  padding: 40px;
  border: 1px solid var(--color-white);
  width: 80%;
  text-align: center;
  transition: all 0.4s;
}

.text::after {
  content: "→";
  margin-left: var(--margin-short);
}

.link:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

@media (max-width: 768px) {
  .inner {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .link {
    padding: 20px;
  }
}
