.wrap {
  padding-top: var(--padding-topbottom);
  padding-bottom: var(--padding-topbottom-large);
  background-image: linear-gradient(#fe7c25, #ffd64e 29%);
  color: var(--color-white);
}

.header2 {
  text-align: center;
  padding-right: var(--padding-side);
  padding-left: var(--padding-side);
}

.slider {
  margin-bottom: var(--padding-topbottom);
}

.cover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: var(--padding-topbottom) var(--margin-medium);
  display: flex;
  align-items: flex-end;
}

.img {
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 0.4s;
}

.img_src1 {
  background-image: url("/team_interview01_thumbnail.webp");
}

.img_src2 {
  background-image: url("/team_interview02_thumbnail.webp");
}

.img_src3 {
  background-image: url("/team_interview03_thumbnail.webp");
}

.img_src4 {
  background-image: url("/team_interview04_thumbnail.webp");
}

.name {
  margin-bottom: 0;
}

.text:last-of-type {
  margin-bottom: var(--margin-small);
}

.header3 {
  margin-bottom: 0;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--color-black);
}

.strong {
  font-size: 2.6rem;
  font-weight: 700;
}

.strong1 {
  color: var(--color-red);
}

.strong2 {
  color: #268c4a;
}

.strong3 {
  color: #227ea7;
}

.strong4 {
  color: #776bbf;
}

.btn {
  padding-right: var(--padding-side);
  padding-left: var(--padding-side);
  text-align: end;
}

.link:hover .img {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .wrap {
    padding-top: 100px;
    padding-bottom: var(--padding-topbottom);
  }
}

@media (max-width: 440px) {
  .wrap {
    padding-top: 180px;
  }

  .header3 {
    font-size: 1.8rem;
  }
}
